<div class="country card">
    <div class="card-body">
        <div class="card-subtitle font-weight-bold subtitle">
            <p>
                <span>ID</span> {{country.alpha3Code}}
                <br>
                <span>
                    <span>Not yet published to Production Environment</span>
                </span>
            </p>
        </div>
        <h4 class="card-title">{{country.name}}</h4>
        <div class="card-text text-white text">
            <p>{{country.capital}}</p>
            <p>{{country.region}}</p>
            <p>{{country.subregion}}</p>
            <p>{{country.population}}<span> : Population</span></p>
            <p>{{country.demonym}}</p>
            <p></p>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-center mt-2">
            <div ngbDropdown class="d-inline-block" #settingsDropDown="ngbDropdown">
                <button class="btn btn-secondary btn-settings" id="btnSettings" ngbDropdownToggle>
                    View
                </button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="btnSettings">
                    <a class="dropdown-item" [routerLink]="['/continent',ContinentName, country.alpha3Code, 'view']"><span>Detail</span></a>
                </div>
            </div>
        </div>
    </div>
</div>