<div>
    <nav class="navbar navbar2 text-white">
        <div>
            <h2><span>Benua </span>{{ContinentName}}</h2>
        </div>
    </nav>
    <div id="countries-container" class="container-fluid">
            <span>Search (by Name)</span> <input type="text" [(ngModel)]="SearchKey" class="form-control" value={{SearchKey}}>
            <br>
            <button type="submit"
                    class="btn btn-info btn-sm"
                    (click)="searchCountry()">
                <fa-icon [icon]="'eye'"></fa-icon>
                <span class="d-none d-md-inline">Search</span>
            </button>
            <button type="submit"
                    class="btn btn-info btn-sm"
                    (click)="clear()">
                <fa-icon [icon]="'eye'"></fa-icon>
                <span class="d-none d-md-inline">Clear</span>
            </button>
        <!-- </form> -->
        <br>
        <br>
        <ng-template #rt let-r="result" let-t="term">
            <!-- <img class="mr-1" style="width: 16px"> -->
            <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
        </ng-template>                
        <label for="typeahead-template">Search for a Country:</label>
        <input id="typeahead-template" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt"
                [inputFormatter]="formatter" (keyup.enter)="searchCountryTypeahead()" />   
        <br>        
        <div class="row align-items-start">
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 justify-content-start" *ngFor="let country of countries">
                    <jhi-continent-country-item [country]="country"></jhi-continent-country-item>
            </div>
        </div>
    </div>
</div>